*.jpg
*.png
*.jpeg
scripts/lib/
scripts/node_modules/
scripts/gulpfile.js
scripts/dist/gulpfile.js
scripts/package.js
styles/Semantic-UI-CSS-master
src/Admin.php
src/secret.php
composer.json
composer.lock
composer.phar
vendor
server.php
test.php
*.db
*.db
photos/*
!photos/5501