
body {
  background-color: #E5E5E5;
  background: #fefefe;
  background-image: url("http://i.imgur.com/VZKhO2A.png");
  background-image: url("http://i.imgur.com/VZKhO2A.png"), 
  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#fcfcfc));
  background-image: url("http://i.imgur.com/VZKhO2A.png"), 
  -webkit-linear-gradient(top, #fefefe 0%,#fcfcfc 100%);
  background-image: url("http://i.imgur.com/VZKhO2A.png"), linear-gradient(to bottom, #E6E5E5 0%,#D8D7D7 100%);
}

.sha-logo {
  margin-top: 20px;
  color: #fff;
  /* float: right; */
  width: 130px;
  height: 123px;
  /* background: url("http://i.imgur.com/IETlIkd.png") no-repeat; */
  background-size: 130px 123px;
}

.quick-links {
  position: relative;
  width: auto;
  /* max-width: 800px; */
  /* float: left; */
}


.fa {
  font-size:25px;
}

.quick-links > ul {
  padding-left: 25px;
  margin-top: 12px;
  direction: rtl;
}

.quick-links ul li {
  display: inline-block;
  /* margin-top: 12px; */
  margin-left: 10px;
  font-size: 15px;
  color: black;
  /* padding-right: 5px; */
  /* padding-left: 5px; */
}

.quick-links ul li:nth-child(5) {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 30px;
  border-left: 2px #e0e0e0 solid;
}

.quick-links ul li a:hover {
  color: #0000E6 !important;
}

.navbar-default {
  position:relative;
  max-width:100%;
  list-style: none;
  text-decoration: none;
  border: none;
  background-color:#f7f7f7;
  padding-top: 30px;
}

.collapse {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-default .container-fluid .navbar-nav > li {
  padding-right: 10px;
  padding-left: 20px;
  border-right: 2px groove #4F4F71;
}

ul.nav.navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-default .navbar-collapse {
  text-align: center;
}

.caret {
  margin-right:5px;
}

.dropdown:hover {
}

.dropdown:hover .dropdown-menu {
  background-color: #f4f6f7;
  display: block;
  right: -2px;
  left: auto;
}

.dropdown ul {
  background-color: #f9f9f9;
  box-shadow: none;
  border: 0;
  border-top: none;
  margin-left: -1px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0;
}

.dropdown ul li a {
  padding-left: 0px;
  padding-right: 5px;
  text-align:right;
  margin-right: 0;
}

.dropdown ul li {
  padding: 10px 0px 10px 8px;
  border-bottom: 1px solid #e8e8e8;
}

.dropdown ul li a:hover {
  color: black;
  background-color: inherit;
}

.dropdown ul li:hover {
  color: black;
  background-color: #EFEFEF;
}
.main>.content>.row {
  margin-top:150px;
  padding-bottom: 20px;
}

#accordion p>span {
  float:left;
  color: black;
  margin-left: 10px;
}

.faculties > .row {
  margin-top: 50px;
  margin-right: 15px;
}

.faculties .row .col-md-3, .col-md-9, .col-md-4 {
  padding-right:3px;
}

.row {
  margin-right:0;
  margin-left: 0;
}

.faculties .row p {
  font-size: 18px;
}

.faculties .row h4 {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.faculties > div > div .row {
  border: 1px #E5E5E5 solid;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px rgba(204,204,204,0.7);
}

.footer {
  background-color: #272B44;
  color: #CFD3D8;
}
.footer-row {
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer-links .contacts>ul, .links>ul {
  list-style: none;
  padding-right: 20px;
  margin-top: 20px;
  font-size: 17px;
}

.footer-links .contacts>ul>li, .links>ul>li {
  margin-top: 7px;
}


.footer-links h3 {
  font-weight: bold;
  font-size: 25px;
}

.footer .footer-links ul li p, .footer .footer-links ul li a {
  display:inline;
  margin-right: 7px;
  margin-left: 5px;
  color: rgb(246, 244, 255);
}

.popover-content > ul {
  color:black;
  list-style:circle;
  padding-right: 20px;
}

.container-fluid {
  background-color: rgb(56, 76, 97);
}

#bs-example-navbar-collapse-1 > ul > li:nth-child(1) {
  border-left: 2px groove #4f4f71;
  padding-left: 10px;
}

#accordion h4 a {
  text-decoration: none;
}

#accordion .panel.panel-default {
  font-size: 18px;
  font-weight: 500;
}

#accordion .panel.panel-default .panel-body a {
  color: blue;
}

.newsticker a {
  color: black;
}

.faculties a {
  color: #333;
}


.carousel-caption a {
  color: #FFA700;
  font-weight: 600;
  font-size: 29px;
}

.carousel-caption h3 {
  color: #FFB300;
  font-weight: 600;
  font-size: 29px;
}

.faculties > div > div:nth-child(1) > div > div.col-md-9 {
  right: -9px;
  padding-left: 0px;
}

#collapseOne > div > img {
  float: right;
}

.header .links li a {
  color: rgb(3, 12, 134);}


  #accordion h4 a p {
    margin: 0;
    font-size: 15px;
    font-weight: 800;
  }

  @media (max-width: 992px){

    .footer-links .col-md-6 {
      border-top: 1px rgba(193, 193, 193, 0.6) solid;
    }

    .navbar-default .container-fluid .navbar-nav > li {
      border-left: 2px groove #4F4F71;
    }
  }

  @media (min-width: 768px) {
    .container-fluid {
      height: 50px;
    }

  }


.logs .row {
    background-color: #CCCCCC;
    padding: 10px;
}

.time {
    font-size: smaller;
    color: #B7B7B7;
}

.logs p {
    margin: 10px;
    font-size: large;
}

.message-list .message.message-row {
 padding: 0px;
 position: relative;
 padding: 15px;
 /* margin: auto; */
 /* margin-top: 30px; */
}

.signup-page form .field {
    width: 90%;
    margin-right: 10px;
    display: inline-block;
}

form .output {
    display: inline;
}

.user-settings-information form .output {
    display: inline;
    vertical-align: -webkit-baseline-middle;
}

.sign-up form .field-status {
    display: inline-block;
}

.ui.form .field .prompt.label {
    position: absolute;
    left: 4px;
    background-color: #ea5a5a!important;
    color: #ffffff!important;
}

.sign-up form .field-status * {
    top: 6px!important;
    left: 5px!important;
}

.ui.raised.segment.sign-up, .ui.raised.segment.log-in {
    width: 70%;
    margin: 0 auto;
}

.signup-page .field.username {
    margin-bottom: 0px;
}

p.form-note {
    font-size: smaller;
    opacity: .8;
    color: #8a8a8a;
    margin-left: 5px;
}

.welcome-page i.check.icon {
    margin-right: 0px;
}

.signup-page, .login-page .ui.center {
    /* text-align: center; */
}

.signup-page, .login-page .center p {
    margin-top: 5px;
    font-size: medium;
}


.login-page .field .note {
    font-size: smaller;
    margin-left: 5px;
    color: #8e8e8e;
}

.hidden {
    display: none!important;
}

.ui.menu .menu.elements {
    margin: 0 auto;
}

.ui.stackable.menu {
    background-color: rgb(47, 83, 121);
    height: 50px;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index: 555;
}

.ui.menu .elements a.item {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.ui.menu .elements a.active.item {
    background: #1e4165;
    border-radius: 5px;
}

.ui.menu .elements a.item:hover {
    color: white;
    background: #274667;
}

.ui.popup.wide.top.center.transition.visible {
    top: 237px!important;
}

.ui.card .image {}

.ui.popup.wide.bottom.left {
    width: 0px;
}

.ui.card h3.header {
    margin-bottom: 0px;
}

.ui.card .meta .user-points {
    display: inline;
    float: right;
}

.ui.card .meta .user-points i.thumbs.outline.up.icon {
    margin-right: 4px;
}

.ui.dimmer.modals .modal .error.message .header {
    background-color: inherit;
}

.user-feed .feed-post .comments textarea#comment-submit-textarea {
    height: auto;
    resize: none;
}

.time a {
    color: inherit;
}

.time a:hover {
    text-decoration: underline;
}

.ui.stackable.menu .right.item {
    margin-left: 0!important;
}

.ui.selection.dropdown:focus {border-color: inherit;}

.ui.stackable.menu .dropdown i.dropdown.icon {
    margin: auto -7px;
    color: white;
}

.stackable.menu .ui.selection.active.dropdown, .stackable.menu .ui.selection.dropdown .menu {
    border-color: inherit;
    background: inherit;
}

.stackable.menu .ui.compact.selection.dropdown {
    background: inherit;
    color: white;
}


.item {}

.stackable.menu .ui.selection.dropdown .menu .item {
    color: white!important;
    border-color: inherit;
}

.stackable.menu .dropdown .text.default {
    margin: auto 6px;
    color: white;
}