.messages a.item.teal.active {
    color: purple!important;
    border-left: 1px solid purple;
    border-color: purple;
}

.messages .ui.selectable.table tbody tr:hover {
    background: rgba(0,0,0,.05)!important;
}

.messages .ui.selectable.table tbody tr.negative:hover {
    background: #ffe7e7!important;
}

.messages .msg-image {
    position: absolute;
}

.messages .msg-main {
    margin-left: 10%;
}

.messages .msg-user_info h4 {
    margin-bottom: 0px;
}

.messages .msg-body {
    margin-top: 2%;
}

.messages div#blog-post-actions {
    position: absolute;
    /* float: right; */
    margin-top: -2%;
    right: 23%;
}

.messages div#msg-actions {
    right: 24%;
    margin-top: -32px;
    position: absolute;
}

.messages .msg-main .menu {
    margin-left: -77px;
}

.messages td.msg-remove.center.aligned {
    vertical-align: middle;
    color: #8a8a8a;
}

.messages .msg-center.center {
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    right: 5%;
    margin-top: -55px;
    z-index: 55;
}

.messages .msg-center.center li {
    display: list-item;
    margin: 5px;
}

span#msg-undo {
    cursor: pointer;
}

.messages .message.reply textarea {
    border: none;
    border-bottom: 1px solid #c0bce4;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.messages .message.reply.ui.segment {
    box-shadow: none;
    width: 80%;
}

.message-list .message-row .message-details p {
    margin-bottom: 0px;
}

.message-list .message-row .message-details .time {
    font-size: smaller;
    color: #b1b1b1;
}

.message-list .message-row .message-details .time:hover {
    text-decoration: underline;
}

.message-list .message-row img.ui.avatar.image {
}

.message-list .message-image {
    position: absolute;
}

.message-list .message-details {
    margin-left: 75px;
}

.message-list .message-image img.ui.image {
    width: 55px;
}

.message-list .message-row i.ui.icon {
    position: absolute;
    right: 16px;
    top: 31px;
}

.messages .msg-main .msg-body .content {
    min-height: 220px;
    white-space: pre-line;
}

.messages #msg_msg i.archive.icon {
    font-size: 22px;
}

.messages #msg_msg {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.messages .messages-list tr.unread.active {
    background: #d9ffd9!important;
}

.block-list .content .username {
    color: #9c9c9c;
}

.messages .block-list .item {
    padding: 10px 0;
}

.section.messages .table .unhide {
    text-align: center;
}


th.two.wide.unhide {}