.blog-post .ui.dropdown {
	min-width: 0px;
	/* margin-right: 52px; */
	padding: 1px 30px;
}

.blog-post .header .ui.dropdown {
	float: right;
}

.blog-post .dropdown button, .blog-post .dropdown button:hover, .blog-post .dropdown button:active, .blog-post .dropdown button:focus {
	background-color: rgba(255, 255, 255, 0.05);
}

.blog-post .dropdown .menu {
	left: -15px;
}

.dropdown .menu .item:not(:last-child) {
	z-index: 3;
	border-bottom: 1px solid rgba(212, 212, 212, 0.52);
}

#blog-post-actions #admin-preview{
	background-color:#d03c26;
	color:white;
	padding: 0px!important;
}

.dropdown .menu .item {
	padding: 15px 30px !important;
}

.dropdown .menu .item a {
	color:black;
}

.blog-post .post-header h3 {
	margin-bottom: 0px;
}

.blog-post .time {
	margin-bottom:0px;
}

#comments .comment-vote-btn {
	margin-right: 2px;
	opacity: 1;
}

.comment-points {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: -6px;
}

#comments a#edit {
	color: rgba(114, 114, 236, 0.83);
}

#comments a#edit:hover {
	color: #0012ff;
}

#comments a.time {
	font-size: inherit;
}

#comments .comment.segment {
	padding: 1em;
	box-shadow: 0 0px 10px 0 rgba(34,36,38,.15);
}

#comments .pointing.dropdown {
	position:absolute;
	right: 3%;
	top: 15%;
}

#comments .dropdown .menu {
	left: -37px;
}

.Actions .dropdown .menu a {
	color:rgba(0,0,0,.8)!important;
	padding: 2px 20px;
}

.comment-vote-btn i.icon {
	cursor: pointer;
	color:grey;
}
.comment-vote-btn .heart.circular:hover {
	cursor: pointer;
	color:red;
}


.pub .menu.transition.visible {
	margin-bottom: 10px;
}

.comment-vote-btn-pub {
	color:grey;
}

.comment-vote-btn-pub:hover {
	color:red;
}

.questions.sortby .menu a:not(:last-child) .item {
	border-bottom: 1px solid rgba(204, 204, 204, 0.47);
}

.item i.mdi-heart {
    color: #d23c3c;
    margin-right: 2px!important;
}

.questions .item .mdi-comment-multiple-outline {
	color: #3c3cab;
}

.questions .ui.items:not(:last-child) {
	border-bottom: 1px solid #cccccc;
}

.questions .ui.items {
	padding: 20px 0px;
	margin: 15px 0;
	max-width: 90%;
}

.questions .items .image img {
	box-shadow: 0px 0px 2px 2px rgba(210, 210, 210, 0.39);
}

.blog-post h3.blog-post-title {
    display: inline;
}

#questions .reports a {
    color: red;
}

.reports {
    margin-top: 25px;
}

#comments .content .text h4 {
    min-height: 28px;
    margin-top: 14px;
    margin-bottom: 10px;
}

#comments .content .divider {
	margin-bottom: 5px;
}

#ent {
	text-align:center;
	padding-bottom: 50px;
}

#ent input {
    border: none;
}

#ent .input {
    border-bottom: 1px #e6e6e6 solid;
}

.blog-post .post-header p {
    margin-bottom: 0px;
}

.blog-post .post-header p a {
    color: #7b7b7b;
    font-weight: 600;
}

.message-list .message-row .message-details .time a {
    color: inherit;
}

#comments .comments a img {
    width: 58px;
    height: auto;
    /* float: left; */
    margin-right: 11px;
    border-radius: 10%;
}

.question-page .report-message {
    text-align: center;
}



.question-page .blog-post img.ui.avatar {
    border-radius: 5px;
}

#sidebar-content .item .content {
    display: inline-table;
}

#sidebar-content #sidebar-date {
    font-size: smaller;
    color: #afafaf;
}

.ui.vertical.segment.title-form.form {
    border-bottom: none;
}

.questions.front-page.vertical.segment.loading {
    padding-top: 0px;
}

#sidebar-content .item {
    padding: 9px 0;
}

.question-page .nine.wide.column.post-title {}

.nine.wide.column.post-title {
    margin: 15px 2px;
}

.question-page .nine.wide.column.post-title {
    margin: 16px 5px;
}

#comments .cmt_rpts {
    display: inline;
    margin-left: 10px;
}

.question-page #comments  span.cmt_rpt_count {
    text-decoration: none;
    color: black;
}


.blog-post .ui.message.negative {
    width: 55%;
    margin: 0 auto;
    text-align: center;
}