.section.shirts.search.page {
    text-align: center;
}

.search .wrapper {
    padding: 100px;
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

input[type="text"] {
    width: 434px;
}