.main .container {background-color: white;padding: 60px;}

.container.section {
    background-color: white;
    padding: 70px;
}

.wrapper h2 {
    text-align: center;
}

.students li {
    list-style: none;
    padding: 10px;
    border: 7px solid #DCDCDC;
    border-radius: 4px;
    margin: 20px;
}
.logs li {
    list-style: none;
    margin: 20px;
}
.logs 

.students a {
    color: #320AFF;
    text-decoration: underline;
}

.student .details {
    background-color: white;
    padding: 60px;
}

.student .details p {
    border: 2px #868686 groove;
    padding: 8px;
}

.section .pagination {
width: 100%;}

.section .pagination a {
    border: 1px black solid;
    padding: 6px 10px;
    text-decoration: none;
}

.section .pagination span {
    border: 1px black solid;
    padding: 6px 10px;
    text-decoration: none;
    background-color: grey;
    color: white;
}